.social-icons {
  position: fixed; /* Фиксированное положение */
  top: 10px;       /* Отступ от верхнего края */
  right: 10px;     /* Отступ от правого края */
  display: flex;   /* Ряд расположения иконок */
  gap: 10px;       /* Расстояние между иконками */
}

.social-icons img {
  width: 40px; /* Уменьшаем размер иконки */
  height: 50px;
  cursor: pointer; /* Указатель при наведении */
  transition: transform 0.2s, opacity 0.2s; /* Эффекты при наведении */
}

.social-icons img:hover {
  transform: scale(1.2); /* Увеличение при наведении */
  opacity: 0.9;         /* Слегка прозрачное состояние */
}
